.user-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.add-user {
  display: flex;
  flex-direction: column;
  margin-top: 20px;  
  align-items: center;
}

